WorkReportService/Service References/WorkReport/QualityReport3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55555/QualityReport/QualityReport.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkQualityReport.Model" />
  <xs:element name="GetWorkReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workId" type="xs:int" />
        <xs:element minOccurs="0" name="subGroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WorkQualityReport.Model" minOccurs="0" name="GetWorkReportResult" nillable="true" type="q1:ArrayOfWorkReportBuildingEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWorkOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WorkQualityReport.Model" minOccurs="0" name="clause" nillable="true" type="q2:OrderClause" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWorkOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WorkQualityReport.Model" minOccurs="0" name="GetAllWorkOrderResult" nillable="true" type="q3:ArrayOfWorkDetailInfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WorkQualityReport.Model" minOccurs="0" name="QueryDictResult" nillable="true" type="q4:ArrayOfSysDictionary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>