WorkReportService/Service References/WorkReport/QualityReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Castle.ActiveRecord" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Castle.ActiveRecord" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55555/QualityReport/QualityReport.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ActiveRecordValidationBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActiveRecordBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActiveRecordValidationBase" nillable="true" type="tns:ActiveRecordValidationBase" />
  <xs:complexType name="ActiveRecordBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActiveRecordHooksBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActiveRecordBase" nillable="true" type="tns:ActiveRecordBase" />
  <xs:complexType name="ActiveRecordHooksBase">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ActiveRecordHooksBase" nillable="true" type="tns:ActiveRecordHooksBase" />
</xs:schema>