WorkReportService/Service References/WorkReport/QualityReport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QualityReport" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WS2007HttpBinding_IQualityReport_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55555/QualityReport/QualityReport.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55555/QualityReport/QualityReport.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55555/QualityReport/QualityReport.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkQualityReport.Model" />
      <xsd:import schemaLocation="http://localhost:55555/QualityReport/QualityReport.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wpms.App.Core.Framework.Entity" />
      <xsd:import schemaLocation="http://localhost:55555/QualityReport/QualityReport.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Castle.ActiveRecord" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQualityReport_GetWorkReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkReport" />
  </wsdl:message>
  <wsdl:message name="IQualityReport_GetWorkReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkReportResponse" />
  </wsdl:message>
  <wsdl:message name="IQualityReport_GetAllWorkOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWorkOrder" />
  </wsdl:message>
  <wsdl:message name="IQualityReport_GetAllWorkOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWorkOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IQualityReport_QueryDict_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryDict" />
  </wsdl:message>
  <wsdl:message name="IQualityReport_QueryDict_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryDictResponse" />
  </wsdl:message>
  <wsdl:portType name="IQualityReport">
    <wsdl:operation name="GetWorkReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IQualityReport/GetWorkReport" message="tns:IQualityReport_GetWorkReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQualityReport/GetWorkReportResponse" message="tns:IQualityReport_GetWorkReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWorkOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IQualityReport/GetAllWorkOrder" message="tns:IQualityReport_GetAllWorkOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQualityReport/GetAllWorkOrderResponse" message="tns:IQualityReport_GetAllWorkOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryDict">
      <wsdl:input wsaw:Action="http://tempuri.org/IQualityReport/QueryDict" message="tns:IQualityReport_QueryDict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQualityReport/QueryDictResponse" message="tns:IQualityReport_QueryDict_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS2007HttpBinding_IQualityReport" type="tns:IQualityReport">
    <wsp:PolicyReference URI="#WS2007HttpBinding_IQualityReport_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorkReport">
      <soap12:operation soapAction="http://tempuri.org/IQualityReport/GetWorkReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWorkOrder">
      <soap12:operation soapAction="http://tempuri.org/IQualityReport/GetAllWorkOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDict">
      <soap12:operation soapAction="http://tempuri.org/IQualityReport/QueryDict" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QualityReport">
    <wsdl:port name="WS2007HttpBinding_IQualityReport" binding="tns:WS2007HttpBinding_IQualityReport">
      <soap12:address location="http://localhost:55555/QualityReport/QualityReport.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:55555/QualityReport/QualityReport.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>